import * as config from "./scripts/config/SecretConfig"

export const secrets: config.NetworkConfig = {
	networks: {
		mainnet: {
			RPC_URL: "",
			PRIVATE_KEY: "",
			ETHERSCAN_API_KEY: "",
		},
		rinkeby: {
			RPC_URL: "",
			PRIVATE_KEY: "",
		},
	},
}
